@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css";
* {
  font-family: Arial, Helvetica, sans-serif;
}
.trigger-btns,
.input_text,
.input_image {
  display: flex;
  align-items: center;
  padding-top: 30px;
  justify-content: center;
  gap: 20px;
}

i button {
  border-radius: 5px;
}
button:hover {
  border: 2px solid grey;
  border-radius: 5px;
}
a {
  text-decoration: none;
  color: black;
}

#tableResults {
  border-radius: 5px;
  visibility: hidden;
  padding: 1px;
}
#tableResults thead {
  border: none;
  background-color: grey;
  color: white;
}
.fa-spinner {
  visibility: hidden;
  color: grey;
  animation: spin 1s linear infinite;
  align-self: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#results-expandable,
#results {
  margin: 10px;
  padding-top: 3vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#results-expandable p {
  transition: max-height 0.3s ease;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin: 30 0;
  max-height: 1.6vh;
}

#results-expandable p:hover {
  max-height: fit-content;
}
#urlInput,
#texto {
  max-width: 70%;
  min-width: 50%;
}
#texto {
  overflow-y: hidden;
  resize: none;
}
#image_preview {
  display: none;
  width: 25vw;
  height: auto;
}

@media (max-width: 500px) {
  .input_image {
    flex-direction: column-reverse;
  }
}
